.top {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid black;
}

.heading1 {
    margin-top: 2px; 
    margin-bottom: 2px;
    font-family: 'Mulish', sans-serif;
}

.heading2 {
    margin-top: 2px; 
    margin-bottom: 2px;
    font-family: 'Mulish', sans-serif;
    font-weight: bolder;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 90%;

}

.content-slice {
    background-color: aquamarine;
    height: 200px;
    margin: 5px auto;
}

.content-slice-top {
    display: flex;
    height: 20px;
    justify-content: space-between;
}

.subject {
    font-family: 'Mulish', sans-serif;
}

.date {
    font-family: 'Mulish', sans-serif;
}


.content-slice-middle {

}

/*
flex-drection: row | column
align items: cross axis
justify-content: main axis
*/